body
	.input
		position: fixed
		bottom: 0px	
		padding-right: 30px


	ul
		&#messages
			list-style: none
			padding: 0
			width: 100%
	
	.login
		height: 24px
		form
			width: 50vw


	#time
		text-align: right
		

	.pull-left
		width: 100%